---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Airbnb Effect on Barcelona</title>
  <link rel="stylesheet" type="text/css" href="../../assets/airbnb/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="../../assets/airbnb/css/style.css"/>
</head>
<body>
<div class="container">
  <div id='graphic'>
    <div id='sections'>
      <section class="step">
        <div class="title">Airbnb effect on Barcelona</div>
        These are summary numbers extracted from Airbnb's open data.
        Earliest review was from June 2011.
        </br></br>
        While there are 956 homeless people in the city, they offer the same number of rooms as 37 hotels with 500 rooms each. Although these figures are added up until
        October 2018, in <a href="https://www.airbnbcitizen.com/airbnb-community-generated-more-than-e1-billion-in-barcelona-in-2016/">this</a> link they are presenting 16.100 hosts who earned €167 million just in 2016.
       </br></br>
       Note that the earnings showed are just computed taking into account
       the minimum number of nights listed.
      </section>
      <section class="step">
        <div class="title">How are those numbers distributed?</div>
        This plot only shows the top 500 hosts by earnings. Although the majority of points are hold by hosts offering a few rooms, 161 have posted
        more than 10 rooms and 43 of whom have listed more than 30.
        </br></br>
        Moreover, 11 hosts have earned more than 1M€.
      </section>
    </div>
    <div id='vis'>
    </div>
    <div id="extra-space">
    </div>
  </div>
</div>


<script src="../../assets/airbnb/lib/d3.min.js"></script>
<script src="../../assets/airbnb/js/scroller.js"></script>
<script src="../../assets/airbnb/js/display.js"></script>
</body>
</html>